.navbar-header{

  color: #B2170E;
}
.ml-auto
{
  text-align: center;
}

.ml-auto.navbar-text
{
  text-align: center;
  color: #B2170E;
  font-size: 20px;

}

.navbar.navbar-default.navbar-fixed-top
{

  text-align: center;
  color: #B2170E;


}

.navbar-brand
{

  font-family: "Century", gothic;
  color: #B2170E;
  font-size: 25px;
  text-align: center;

}


.jumbotron.jumbotron-fluid
{
background: #C22224;
text-align: center;
color: whitesmoke;
font-family: garamond;
}



.thumbnail{
  border-radius: 1px;
  height: 230px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  background: whitesmoke;

}

.thumbnail > .img-container {
  padding-top: 15px;
  height: 90%;
  overflow: hidden;
  text-align: center;

}
.thumbnail > .img-container > img {
  width: 90%;
  background: #D93A32;
}

.thumbnail> .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.thumbnail > .content > ul {
  list-style-type: none;
}

.thumbnail > .content > ul > li {
  margin-top: 25px;
}



.thumbnail > .remove:hover {
  color: #d50000;
}

.main-container {
  padding-top:0px;

  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.jumbotron.jumbotron-fluid
{
padding-bottom: 0px;

}
